---
import Layout from '../layouts/Layout.astro'
import { getSortedPostsData } from '../utils/posts'

const allPosts = await Astro.glob('../pages/blog/*.md')
---

<Layout title="Blog">
  <div class="flex w-full grow-0 flex-col gap-2 p-2 text-slate-700">
    {
      allPosts.map((post) => (
        <div class="flex flex-col gap-2 rounded-md border border-slate-300 bg-slate-100 p-3">
          <a class="font-bold" href={post.url}>
            {post.frontmatter.title}
          </a>
          <small>{post.frontmatter.description}</small>
          <small class="font-light">{post.frontmatter.date}</small>
        </div>
      ))
    }
  </div>
</Layout>
