---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Astro Benchmark">
  <div class="flex-wrap justify-center gap-10 items-center flex border flex-col w-full h-full">
    <div class="items-center justify-center flex flex-row flex-wrap">
      <img src="/astrologo.png" alt="Astro Logo" width={180} />
    </div>

    <div class="text-slate-800 font-bold text-3xl w-full h-10 text-center">
      Benchmark Web Application
    </div>
  </div>
</Layout>
