---
export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main
      class="flex h-screen flex-col items-center overflow-hidden bg-gradient-to-r from-slate-300 via-slate-50 to-slate-300"
    >
      <nav
        class="flex h-10 w-full shrink-0 grow-0 items-center justify-center border-b border-slate-600 bg-slate-700 text-slate-200"
      >
        <div class="flex w-full gap-4 p-2 font-semibold md:max-w-2xl">
          <a href="/">
            <span>Home</span>
          </a>
          <a href="/blog">
            <span>Blog</span>
          </a>
          <a href="/big-data">
            <span>Big Data</span>
          </a>
        </div>
      </nav>
      <div
        class="flex w-full flex-grow justify-self-center overflow-y-auto bg-slate-200 shadow-xl scrollbar-thin scrollbar-track-slate-300 scrollbar-thumb-slate-500 scrollbar-thumb-rounded-md md:max-w-2xl md:border-x md:border-slate-300"
      >
        <slot />
      </div>
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  body {
    color: white;
  }
</style>
