---
import Layout from '../layouts/Layout.astro'
const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title}>
  <article class="center flex w-full flex-col items-center overflow-x-clip p-2 text-slate-800">
    <h1 class="text-4xl font-bold">{frontmatter.title}</h1>
    <div class="py-6">{frontmatter.date}</div>
    <div class="prose flex w-full flex-col items-center pb-20"><slot /></div>
  </article>
</Layout>
